@import "./variables.scss";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  // background-color: $black;
  margin: 3px 6px 6px 6px;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  color: white;
}

.app-link {
  color: $changed;
}

button {
  font-size: 0.65rem;
  color: $font;
  height: 30px;
  background-color: $darker;
  padding: 0.5rem;
  align-content: center;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  border: solid 0.25px #434343;
  outline: none;
}

button:hover {
  border: solid 0.25px #818181;
  background-color: #555555;
}

button:active {
  background-color: $changed;
}

.button-group {
  display: flex;
  row-gap: 1rem;
  column-gap: 1rem;
}

.icon-button {
  width: 30px;
  height: 25px;
  padding: 3px;
  align-content: center;
}

.nav-bar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $darkest;
  z-index: 1;
  display: flex;
  flex-direction: row;
  column-gap: 6px;
  font-size: 0.65rem;
}

.page-content {
  background-color: $black;
  border-radius: 0 6px 6px 6px;
  display: flex;
  height: auto;
  flex-direction: column;
  padding: 12px 6px 6px 6px;
}

.routerLink {
  text-decoration: none;
  color: $light;
  font-size: inherit;
  font-weight: 600;
  display: flex;
  margin: 0;
  padding: 0;
  border-radius: 8px 8px 0 0;
  width: auto;
  height: auto;
  background-color: $darker;
  outline: none;
  padding: 8px 20px;
}

.routerLinkActive {
  color: $primary;
  background-color: $black;
}

.routerLink:hover {
  background-color: $secondary;
  color: $primary;
}
.routerLink:focus {
  background-color: $black;
}
.routerLink:active {
  background-color: $primary;
  color: $darkest;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  -webkit-appearance: always;
}
::-webkit-scrollbar-track {
  background: $darkest;
  padding: 2.25em 1.6875em;
}
::-webkit-scrollbar-thumb {
  background: $darker;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: $dark;
}