$black: #111111;
$darkest: #222222;
$darker: #333333;
$dark: #434343;
$font: #bbbbbb;
$highlight: #aaaaaa;

$primary: #88715a;
$secondary: #4a3928;

$active: #20639b;
$changed: #516d55;
$warning: #f6d55c;
$error: #ed553b;