$black: #111111;
$darkest: #222222;
$darker: #333333;
$dark: #434343;
$light: #9d9d9d;
$fontDark: #565656;
$font: hsl(0, 0%, 85%);
$highlight: #eaeaea;

$primary: #5cbd6b;
$secondary: #386b40;

$active: #20639b;
$changed: #516d55;
$warning: #e18114;
$error: #E04343;